<div class="jumbotron">
    <div class="container">
        <% if(typeof loggedInUser == 'undefined'){ %> 
            <h1 class="display-4">Chat-application version 1</h1>
        <% } else { %> 
            <h1 class="display-4 info">Welcome <%= loggedInUser.username %>!</h1>
        <% } %> 
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit tempore veniam eius sapiente eaque blanditiis rerum nesciunt. Similique, delectus consectetur.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut assumenda expedita iusto quas quo consequuntur nostrum pariatur ad rerum incidunt.</p>
        <% if(typeof loggedInUser == 'undefined'){ %>   
            <a href="/auth/login" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Login</a>
        <% } else { %> 
            <a href="/users" class="btn btn-outline-info my-2 my-sm-0" type="submit">Chat!</a>
        <% } %> 
    </div>
    
</div>