@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comic Neue', cursive;
}

#user {
    font-weight: 1000;
    color: rgb(247, 247, 247);
}

.chat-room {
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chat-room-title {
    font-size: 1.5em;
    background-color: rgb(110, 110, 255);
    padding: 10px;
}

.chat-box form {
    display: flex;
    position: relative;
    flex-direction: column;
}

.chat-box input {
    font-size: 1.2em;
    padding: 5px;
}


.chat-messages {
    width: 100%;
    height: 600px;
    border: 1px solid grey;
    overflow: scroll;
    background-image: url('./img/background/degea.jpg');
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}


.chat-message {
    text-align: left;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: .8em;
    margin-bottom: 10px;
    margin-left: 5px; 
    background-color: rgba(178, 229, 245, 0.692);
    white-space: pre-line;
    min-width: 20%;
    max-width: 45%;
}


.chat-message.my-message {
    text-align: left;
    align-self: flex-end;
}

.chat-message-content {
    display: inline-block;
    overflow-wrap: break-word;
}

.chat-message span {
    color: rgb(80, 80, 80);
}

.chat-message .username {
    color: rgb(88, 39, 167);
    font-weight: 800;
}

.chat-message .time {
    display: inline-block;
    margin-left: 10px;
}

#typing {
    position: absolute;
    background-color: rgb(110, 110, 255);
    padding: .4em;
    font-size: 1.2em;
    width: 100%;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s;
    z-index: -1;
}

#typing.show {
    transform: translateY(0%);
    opacity: 100;
    z-index: 10;
}

form > input {
    margin-bottom: 10px;
}

.message-input {
    width: 100%;
    display: flex;
    align-items: center;
}

.message-input textarea {
    margin-top: 10px;
    font-size: 1.7em;
    height: 70px;
    max-height: 200px;
    width: 85%;
    resize: none;
}

.message-input button {
    width: 6%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 1%;
}

#send {
    font-size: 1em;
    background-color: rgb(38, 105, 228);
    padding: 10px;
    font-weight: 800;
    border-radius: 5px;
    width: 15%;
    min-width: 60px;
    text-align: center;
    color: white;
}

#send:hover {
    background-color: rgb(6, 39, 100);
} 

.button {
    margin-top: 5px;
    font-size: 1.4em;
    padding: 3px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding-top: 45px;
    vertical-align: middle;
}

.button.back {
    background-color: rgba(243, 129, 23, 0.815);
}

.button.back:hover {
    background-color: rgb(202, 107, 18);
}

.button.meaningless {
    background-color: rgba(89, 230, 89, 0.815);
}

.button:hover {
    background-color: rgb(89, 230, 89);
    
}

.option-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}